<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
    </head>
    <body>
    
    <h2>NHL skaters</h2>
    
    <table>
      <tr>
        <th>Name</th>
        <th>Team</th>
        <th>Position</th>
        <th>Games</th>
        <th>Goals</th>
        <th>Assists</th>
        <th>Points</th>
        <th>+/-</th>
        <th>Penalty</th>
        <th>Shots</th>
        <th>GWG</th>
        <th>PPG</th>
        <th>PPA</th>
        <th>SHG</th>
        <th>SHA</th>
        <th>Hits</th>
        <th>Blocked</th>
      </tr>
    {% for player in players %}    
      <tr>
        <th><a href="{{player[0]}}">{{player[1]}}</a></th>  
        {% for player_data in player [2:]%}
        <th>{{player_data}}</th>        
        {% endfor %}              
      </tr>
    {% endfor %}
