{% extends "layout.html" %}
{% block title %} NHL {% endblock %}
{% block content %}
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #c0c5c9;
    }
</style>   
    <table>
      <tr>
        {% for column in players_columns [1:-1]%} 
          <th>{{column}}</th>
          {% endfor %}
      </tr>
        
      <tr>
        {% for player_data in player [1:-1]%}
        <th>{{player_data}}</th>        
        {% endfor %}
      </tr>
    </table>
<br>
Likes: {{likes[0]}}
<hr>
<h4>Comments:</h4>
{% for comment in comments %}
{{comment[0]}}: {{comment[1]}}<br>
{{comment[2].strftime("%Y-%m-%d %H:%M:%S")}}
<br><br>
{% endfor %}
<hr>

<form action="/send" method="POST">
    Your comment here{{logged_comment}}: <br>
    <textarea name="content" rows="3" cols="60"></textarea>
    <br>
    <input type="submit" value="Send">
    <input type="hidden" name="id" id="id" value="{{player[0]}}">
    <input type="hidden" name="fileid" id="fileid" value="{{fileid}}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
<br>
<form action="/liked" method="POST">
  <input type="hidden" name="id" id="id" value="{{player[0]}}">
  <input type="hidden" name="fileid" id="fileid" value="{{fileid}}">
  <button name="liked" value="{{player[0]}}">
    {% if user_liked %}Remove your like{% endif %}
    {% if not user_liked %}Like this player{% endif %}
  </button>      
</form>
{% endblock %}
          