<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
    </head>
    <body>
    
    <h2>NHL player statistics</h2>
    
    <table>
      <tr>
        <th>Name</th>
        <th>Team</th>
        <th>Position</th>
        <th>Games</th>
        <th>Goals</th>
        <th>Assists</th>
        <th>Points</th>
        <th>+/-</th>
        <th>Penalty</th>
        <th>Shots</th>
        <th>GWG</th>
        <th>PPG</th>
        <th>PPA</th>
        <th>SHG</th>
        <th>SHA</th>
        <th>Hits</th>
        <th>Blocked</th>
      </tr>
        
      <tr>
        <th>{{player[1]}}</th>        
        <th>{{player[2]}}</th> 
        <th>{{player[3]}}</th>
        <th>{{player[4]}}</th>
        <th>{{player[5]}}</th>
        <th>{{player[6]}}</th>   
        <th>{{player[7]}}</th>
        <th>{{player[8]}}</th>
        <th>{{player[9]}}</th>
        <th>{{player[10]}}</th>
        <th>{{player[11]}}</th>
        <th>{{player[12]}}</th>
        <th>{{player[13]}}</th>
        <th>{{player[14]}}</th>
        <th>{{player[15]}}</th>
        <th>{{player[16]}}</th>
        <th>{{player[17]}}</th>
      </tr>
    </table>
    <br>
    <hr>
    <h3>Comments:</h3>
    {% for comment in comments %}
    {{comment[1]}}
    <br>
    {% endfor %}
    <hr>
    
    <form action="/send" method="POST">
        Your comment here: <br>
        <textarea name="content" rows="3" cols="60"></textarea>
        <br>
        <input type="submit" value="Send">
        <input type="hidden" name="id" id="id" value="{{player[0]}}">
        </form>
    
        
    