{% extends "layout.html" %}
{% block title %} NHL {% endblock %}
{% block content %}
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #c0c5c9;
  }
</style> 
<table>
  <tr>
    {% for column in players_columns [1:-1]%} 
      <th><a href="/files/{{fileid}}/organize/reverse/{{column}}">⬆︎</a></th>
      {% endfor %}
  </tr>
  <tr>
    {% for column in players_columns [1:-1]%} 
      <th><a href="/files/{{fileid}}/organize/{{column}}">{{column}}</a></th>
      {% endfor %}
  </tr>
  
{% for player in players %}        
  <tr>
    <th><a href="/files/{{fileid}}/{{player[0]}}">{{player[1]}}</a></th>  
    {% for player_data in player [2:-1]%}
    <th>{{player_data}}</th>        
    {% endfor %}              
  </tr>
{% endfor %}
{% endblock %}

    

